# ----------------------------------------------------------------------
# Set default character set and language
# ----------------------------------------------------------------------

AddDefaultCharset UTF-8
DefaultLanguage en-US

# ----------------------------------------------------------------------
# Gzip compression
# ----------------------------------------------------------------------

<IfModule mod_deflate.c>

  # Force deflate for mangled headers developer.yahoo.com/blogs/ydn/posts/2010/12/pushing-beyond-gzipping/
  <IfModule mod_setenvif.c>
    <IfModule mod_headers.c>
      SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
      RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
    </IfModule>
  </IfModule>

  # Compress all output labeled with one of the following MIME-types
  <IfModule mod_filter.c>
    AddOutputFilterByType DEFLATE application/atom+xml \
                                  application/javascript \
                                  application/json \
                                  application/rss+xml \
                                  application/vnd.ms-fontobject \
                                  application/x-font-ttf \
                                  application/xhtml+xml \
                                  application/xml \
                                  font/opentype \
                                  image/svg+xml \
                                  text/css \
                                  text/html \
                                  text/plain \
                                  text/x-component \
                                  text/xml
  </IfModule>

</IfModule>

# ----------------------------------------------------------------------
# Expires headers (for better cache control)
# ----------------------------------------------------------------------

# These are pretty far-future expires headers.
# They assume you control versioning with filename-based cache busting
# Additionally, consider that outdated proxies may miscache
#   www.stevesouders.com/blog/2008/08/23/revving-filenames-dont-use-querystring/

# If you don't use filenames to version, lower the CSS and JS to something like
# "access plus 1 week".

<IfModule mod_expires.c>
  ExpiresActive on

# Perhaps better to whitelist expires rules? Perhaps.
  ExpiresDefault                          "access plus 1 month"

# cache.appcache needs re-requests in FF 3.6 (thanks Remy ~Introducing HTML5)
  ExpiresByType text/cache-manifest       "access plus 0 seconds"

# Your document html
  ExpiresByType text/html                 "access plus 0 seconds"

# Data
  ExpiresByType application/json          "access plus 0 seconds"
  ExpiresByType application/xml           "access plus 0 seconds"
  ExpiresByType text/xml                  "access plus 0 seconds"

# Feed
  ExpiresByType application/atom+xml      "access plus 1 hour"
  ExpiresByType application/rss+xml       "access plus 1 hour"

# Favicon (cannot be renamed)
  ExpiresByType image/x-icon              "access plus 1 year"

# Media: images, video, audio
  ExpiresByType audio/ogg                 "access plus 6 months"
  ExpiresByType image/gif                 "access plus 6 months"
  ExpiresByType image/jpeg                "access plus 6 months"
  ExpiresByType image/png                 "access plus 6 months"
  ExpiresByType video/mp4                 "access plus 6 months"
  ExpiresByType video/ogg                 "access plus 6 months"
  ExpiresByType video/webm                "access plus 6 months"

# HTC files  (css3pie)
  ExpiresByType text/x-component          "access plus 1 month"

# Webfonts
  ExpiresByType application/vnd.ms-fontobject "access plus 1 month"
  ExpiresByType application/x-font-ttf    "access plus 1 month"
  ExpiresByType application/x-font-woff   "access plus 1 month"
  ExpiresByType font/opentype             "access plus 1 month"
  ExpiresByType image/svg+xml             "access plus 1 month"

# CSS and JavaScript
  ExpiresByType application/javascript    "access plus 1 year"
  ExpiresByType text/css                  "access plus 1 year"

</IfModule>

# ----------------------------------------------------------------------
# ETag removal
# ----------------------------------------------------------------------

# FileETag None is not enough for every server.
<IfModule mod_headers.c>
  Header unset ETag
</IfModule>

# Since we're sending far-future expires, we don't need ETags for
# static content.
#   developer.yahoo.com/performance/rules.html#etags
FileETag None

# ----------------------------------------------------------------------
# Set the server time zone
# ----------------------------------------------------------------------

SetEnv TZ America/Los_Angeles

# ----------------------------------------------------------------------
# 301 /redirects
# ----------------------------------------------------------------------

Redirect 301 /1_4_mile_drag.htm http://www.lightningbikes.com/media/1983-qtr-mile-drag.html
Redirect 301 /2011%20P-38%20Manual.pdf http://www.lightningbikes.com/p38/manual-2011.html
Redirect 301 /accessor.htm http://www.lightningbikes.com/accessories/index.html
Redirect 301 /accessories/accessories.html http://www.lightningbikes.com/accessories/index.html
Redirect 301 /argus_race.htm http://www.lightningbikes.com/media/1988-argus_race.html
Redirect 301 /BBcups%20Types.html http://www.lightningbikes.com/cranks/bottom-bracket-cups.html
Redirect 301 /bicycles.htm http://www.lightningbikes.com/recumbents.html
Redirect 301 /Bike%20Manuals.htm http://www.lightningbikes.com/manuals.html
Redirect 301 /bikefit.htm http://www.lightningbikes.com/bikefit.html
Redirect 301 /brochure.htm http://www.lightningbikes.com/index.html
Redirect 301 /BUYCRANKS.html http://www.lightningbikes.com/cranks/buy-now.html
Redirect 301 /buying.htm http://www.lightningbikes.com/howtobuy.html
Redirect 301 /californ.htm http://www.lightningbikes.com/dealers/6-california.html
Redirect 301 /climbing.htm http://www.lightningbikes.com/climbing.html
Redirect 301 /colors.htm http://www.lightningbikes.com/colors.html
Redirect 301 /company.htm http://www.lightningbikes.com/company.html
Redirect 301 /Crank%20sypder%20installation.htm http://www.lightningbikes.com/cranks/installation.html
Redirect 301 /Cranks%20of%20Carbon.htm http://www.lightningbikes.com/cranks/index.html
Redirect 301 /cyber.htm http://www.lightningbikes.com/videos/index.html
Redirect 301 /default.htm http://www.lightningbikes.com/index.html
Redirect 301 /dlrlocator.htm http://www.lightningbikes.com/dealers/index.html
Redirect 301 /ebike.htm http://www.lightningbikes.com/e-lightning/index.html
Redirect 301 /f40/dan-hansen-jr.html http://dev.lightningbikes.com/riders/dan-hansen-jr.html
Redirect 301 /f-40_racing.htm http://www.lightningbikes.com/riders/racing.html
Redirect 301 /F-40%20Testimonial.html http://www.lightningbikes.com/riders/steve-friedlander.html
Redirect 301 /f40/friedlander-testimonial.html http://www.lightningbikes.com/riders/steve-friedlander.html
Redirect 301 /f40/gary-bernstein-w-team-jamis http://www.lightningbikes.com/riders/gary-bernstein.html
Redirect 301 /F-90_racing.htm http://www.lightningbikes.com/riders/f90-racing.html
Redirect 301 /f40.htm http://www.lightningbikes.com/f40/index.html
Redirect 301 /f90.htm http://www.lightningbikes.com/f90/index.html
Redirect 301 /f90racing.htm http://www.lightningbikes.com/riders/f90-racing.html
Redirect 301 /faq.htm http://www.lightningbikes.com/faq.html
Redirect 301 /feedback.htm http://www.lightningbikes.com/search.html
Redirect 301 /first_over_55mph.htm http://www.lightningbikes.com/media/1979-first-over-55-mph.html
Redirect 301 /gensales.pdf http://www.lightningbikes.com/dealers/index.html
Redirect 301 /handcycles.htm http://www.lightningbikes.com/handcycles/index.html
Redirect 301 /heartlan.htm http://www.lightningbikes.com/dealers/index.html
Redirect 301 /howtobuy.htm http://www.lightningbikes.com/howtobuy.html
Redirect 301 /HPV%20RAAM%20Story.htm http://www.lightningbikes.com/riders/racing.html
Redirect 301 /ihpva_racing.htm http://www.lightningbikes.com/riders/racing.html
Redirect 301 /images/new-s.gifP-38 http://www.lightningbikes.com/search.html
Redirect 301 /LCC-Installation%20Procedure-Rev%20.pdf http://www.lightningbikes.com/cranks/installation.html
Redirect 301 /lightning_SHIMANO.html http://www.lightningbikes.com/cranks/index.html
Redirect 301 /lightning_tandem_crankset.html http://www.lightningbikes.com/cranks/lightning-tandem-crankset.html
Redirect 301 /LIGHTNING%20CARBON%20CRANKS%20INSTALLATION%20PROCEDURE%206.pdf http://www.lightningbikes.com/cranks/installation.html
Redirect 301 /LIGHTNING%20CARBON%20CRANKS%20INSTALLATION%20PROCEDURE2.pdf http://www.lightningbikes.com/cranks/installation.html
Redirect 301 /low_racers.htm http://www.lightningbikes.com/u2/index.html
Redirect 301 /low_racing.htm http://www.lightningbikes.com/u2/index.html
Redirect 301 /lowracers.htm http://www.lightningbikes.com/u2/index.html
Redirect 301 /map_to_factory.htm http://www.lightningbikes.com/contact.html
Redirect 301 /media_coverage.htm http://www.lightningbikes.com/media/index.html
Redirect 301 /media.htm http://www.lightningbikes.com/media/index.html
Redirect 301 /media/1989-raam.html http://www.lightningbikes.com/riders/racing.html
Redirect 301 /midracers.htm http://www.lightningbikes.com/midracers/index.html
Redirect 301 /midwest.htm http://www.lightningbikes.com/dealers/index.html
Redirect 301 /modifying_midracer%20stays.htm http://www.lightningbikes.com/midracers/modifying_midracer-seat-stays.html
Redirect 301 /new_page_2.htm http://www.lightningbikes.com/introduction.html
Redirect 301 /new_page_2.htm http://www.lightningbikes.com/introduction.html
Redirect 301 /other.htm http://www.lightningbikes.com/introduction.html
Redirect 301 /other1.htm http://www.lightningbikes.com/introduction.html
Redirect 301 /p38_quotes.htm http://www.lightningbikes.com/riders/p38.html
Redirect 301 /p38/quotes.html http://www.lightningbikes.com/riders/p38.html
Redirect 301 /p38.htm http://www.lightningbikes.com/p38/index.html
Redirect 301 /p38/design-history.html http://www.lightningbikes.com/media/199304-rcm-p38-design.html
Redirect 301 /pbp95.htm http://www.lightningbikes.com/1995-pbp.html
Redirect 301 /pete's__24_hour.htm http://www.lightningbikes.com/media/1994-petes-24-hour.html
Redirect 301 /phantom.htm http://www.lightningbikes.com/phantom/index.html
Redirect 301 /Phantom%20Manual.pdf http://www.lightningbikes.com/phantom/manual.html
Redirect 301 /Phantom%20quotes.htm http://www.lightningbikes.com/riders/index.html
Redirect 301 /1995-pbp.html http://www.lightningbikes.com/riders/1995-pbp.html
Redirect 301 /pricelist.htm http://www.lightningbikes.com/pricelist.html
Redirect 301 /Quad.htm http://www.lightningbikes.com/quad/index.html
Redirect 301 /r84.htm http://www.lightningbikes.com/r84/index.html
Redirect 301 /raam_2004.htm http://www.lightningbikes.com/riders/2004-raam.html
Redirect 301 /raam.htm http://www.lightningbikes.com/riders/racing.html
Redirect 301 /raam1998.htm http://www.lightningbikes.com/riders/1998-raam.html
Redirect 301 /racers/1985-petes-seattle-to-portland.html http://www.lightningbikes.com/riders/1985-petes-seattle-to-portland.html
Redirect 301 /racers/1995-pbp.html http://www.lightningbikes.com/riders/1995-pbp.html
Redirect 301 /racers/1998-ihpva_racing.html http://www.lightningbikes.com/riders/1998-ihpva_racing.html
Redirect 301 /racers/1998-raam.html http://www.lightningbikes.com/riders/1998-raam.html
Redirect 301 /racers/1999-fc508-barclay-brown.html http://www.lightningbikes.com/riders/1999-fc508-barclay-brown.html
Redirect 301 /racers/1999-pbp.html http://www.lightningbikes.com/riders/1999-pbp.html
Redirect 301 /racers/2000-fc508-barclay-brown-f40.html http://www.lightningbikes.com/riders/2000-fc508-barclay-brown-f40.html
Redirect 301 /racers/2000-fc508-brown-smith.html http://www.lightningbikes.com/riders/2000-fc508-brown-smith.html
Redirect 301 /racers/2004-raam.html http://www.lightningbikes.com/riders/2004-raam.html
Redirect 301 /racers/2005-u2-uscf.html http://www.lightningbikes.com/riders/2005-u2-uscf.html
Redirect 301 /racers/2006-fc508.html http://www.lightningbikes.com/riders/2006-fc508.html
Redirect 301 /racers/barclay-brown.html http://www.lightningbikes.com/riders/barclay-brown.html
Redirect 301 /racers/f40-racing.html http://www.lightningbikes.com/riders/f40-racing.html
Redirect 301 /racers/f90-racing.html http://www.lightningbikes.com/riders/f90-racing.html
Redirect 301 /racers/index.html http://www.lightningbikes.com/riders/racing.html
Redirect 301 /racers/pete-penseyres.html http://www.lightningbikes.com/riders/pete-penseyres.html
Redirect 301 /racers/tyger_racing.html http://www.lightningbikes.com/riders/tyger_racing.html
Redirect 301 /racing1.htm http://www.lightningbikes.com/riders/racing.html
Redirect 301 /records.htm http://www.lightningbikes.com/riders/racing.html
Redirect 301 /Recumbents.htm http://www.lightningbikes.com/recumbents.html
Redirect 301 /Reversable%20spyder%20details.htm http://www.lightningbikes.com/cranks/spyders.html
Redirect 301 /riderquotes.htm http://www.lightningbikes.com/riders/index.html
Redirect 301 /rider-quotes.html http://www.lightningbikes.com/riders/index.html
Redirect 301 /scrapboo.htm http://www.lightningbikes.com/riders/index.html
Redirect 301 /scrapbook.html http://www.lightningbikes.com/riders/index.html
Redirect 301 /southcen.htm http://www.lightningbikes.com/dealers/5-south-central.html
Redirect 301 /southeas.htm http://www.lightningbikes.com/dealers/4-southeast.html
Redirect 301 /speeding_ticket.htm http://www.lightningbikes.com/media/1979-first-over-55-mph.html
Redirect 301 /Spyder%20mod.htm http://www.lightningbikes.com/cranks/spyders.html
Redirect 301 /strava.html http://www.lightningbikes.com/riders/strava.html
Redirect 301 /team.htm http://www.lightningbikes.com/search.html
Redirect 301 /Tensioner%20assembly.htm http://www.lightningbikes.com/phantom/tensioner-assembly.html
Redirect 301 /thunderbolt.htm http://www.lightningbikes.com/thunderbolt/index.html
Redirect 301 /timtech.htm http://www.lightningbikes.com/tips/index.html
Redirect 301 /toc.htm http://www.lightningbikes.com/introduction.html
Redirect 301 /tyger_racing.htm http://www.lightningbikes.com/riders/tyger_racing.html
Redirect 301 http://dev.lightningbikes.com/voyager/201311-len-z-pac-tour.html http://www.lightningbikes.com/riders/len-zawodniak.html
Redirect 301 /white_lightning.htm http://www.lightningbikes.com/white-lightning/index.html
Redirect 301 /x-2_racing.htm http://www.lightningbikes.com/x2/index.html
Redirect 301 /XX%20spyder%20seals%20and%20spacer.htm http://www.lightningbikes.com/cranks/spyders.html

# ----------------------------------------------------------------------
# Set error pages
# ----------------------------------------------------------------------

# ErrorDocument 400 /400.shtml
# ErrorDocument 401 /401.shtml
# ErrorDocument 403 /403.shtml
ErrorDocument 404 /search.html
# ErrorDocument 500 /500.shtml
